:root {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // font-family: ;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 0rem 15rem;
}

.header {

}

.header-img {
  width: 100%;
}

.body-list {

}
