<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATSB</title>
</head>
<body>
  <div class="header">
    <img class="header-img" src="<%= asset_url("cross_banner_2.jpeg") %>" alt="Cross with a sunset">
    <h1>ATSB</h1>
    <p>A place to connect with God</p>
    <button type="button" onclick="alert('GOD!!!')">Discover</button>
  </div>
  <div class="body-list">

  </div>
</body>
</html>
